
{% extends 'base.html.twig' %}
{% block title %} Liste des Articles {% endblock %}

{% block body %}   
    {% if articles %}
        <table id = "articles" class = "table table-stripped">
            <thead>
                <tr>
                    <th>Articles</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                <tr>
                    <td>{{ article }}</td>
                    <td><a href="/article/1" class="btn btn-dark">Détails</a></td>
                </tr>
                {% endfor %}
            </tbody>    
        </table>
    {% else %}
        <p>Aucun article</p>
    {% endif %}
{% endblock %}